<div class="ui middle aligned centered grid">
  <div class="eight wide column">
      <h1>Edit Dog</h1>
      <%= image_tag "https://i.ytimg.com/vi/HjPZoGLckl8/maxresdefault.jpg", class: "ui medium rounded image" %>
  </div>
  <div class="eight wide column">
    <%= render "form" %>
  </div>
</div>
