<%= render "/layouts/nav_loggedin" %>

<div class="ui two column aligned centered grid">
  <div class="column bottom aligned content">
    <h1 class="ui dividing header" style="padding-bottom: 10px;">Edit Dog</h1> 
  </div>
  <div class="four column centered row">
    <div class="column">
      <%= image_tag "https://i.ytimg.com/vi/HjPZoGLckl8/maxresdefault.jpg" %>
    </div>
    <div class="column">
      <%= render "form" %>
    </div> 
  </div>
</div>