<div class="ui middle aligned centered grid">
  <div class="eight wide column">
      <h1>New Dog</h1>
      <%= image_tag "https://static.boredpanda.com/blog/wp-content/uploads/2018/10/cutest-puppy-dog-pictures-coverimage.jpg", class: "ui medium rounded image" %>
  </div>
  <div class="eight wide column">
    <%= render "form" %>
  </div>
</div>
