<%= render "/layouts/nav_loggedin" %>

<div class="ui two column aligned centered grid">
  <div class="column bottom aligned content">
    <h1 class="ui dividing header" style="padding-bottom: 10px;">Add New Dog</h1> 
  </div>
  <div class="four column centered row">
    <div class="column">
      <%= image_tag "https://static.boredpanda.com/blog/wp-content/uploads/2018/10/cutest-puppy-dog-pictures-coverimage.jpg" %>
    </div>
    <div class="column">
      <%= render "form" %>
    </div> 
  </div>
</div>