<%= render "/layouts/nav_loggedin" %>

<div class="ui two column aligned centered grid">
  <div class="column bottom aligned content">
    <h1 class="ui dividing header" style="padding-bottom: 10px;">New Instructions</h1>
  </div>
  <div class="four column centered row">
    <div class="column">
      <%= image_tag "https://images-na.ssl-images-amazon.com/images/I/41Hm3NTKVbL._SX425_.jpg" %>
    </div>
    <div class="column">
      <%= render "form" %>
    </div>
  </div>
</div>
