<div class="ui middle aligned centered grid">
  <div class="eight wide column">
      <h1>New Instruction</h1>
      <%= image_tag "https://images-na.ssl-images-amazon.com/images/I/41Hm3NTKVbL._SX425_.jpg", class: "ui medium rounded image" %>
  </div>
  <div class="eight wide column">
    <%= render "form" %>
  </div>
</div>
