<div class="ui middle aligned centered grid">
  <div class="eight wide column">
      <h1>Edit Vet</h1>
      <%= image_tag "https://images-na.ssl-images-amazon.com/images/I/51q2ZutzDnL._AC_UL320_SR218,320_.jpg", class: "ui medium rounded image" %>
  </div>
  <div class="eight wide column">
    <%= render "form" %>
  </div>
</div>
