<%#= render "/layouts/login_navigation" %>

<div class="ui two column aligned centered grid" style="height: 100% ">
  <div class="column bottom aligned content">
    <h1 class="ui dividing header" style="padding-bottom: 10px;">Register</h1> 
  </div>
  <div class="four column centered row">
    <div class="column">
      <%= image_tag "https://media.giphy.com/media/SwImQhtiNA7io/giphy.gif" %>
    </div>
    <div class="column">
      <%= render "form" %>
    </div> 
  </div>
</div>