<div class="ui inverted vertical masthead center aligned segment">

  <% if @logged_in %>
    <%= render "/layouts/home_nav_loggedin" %>
  <% else %>
    <%= render "/layouts/home_nav_loggedout" %>
  <% end %>

  <div class="ui text container">
    <h1 class="ui inverted header">
      Document your dog's needs
    </h1>
    <h2>Dogumentation helps you note your dog's care instructions so you can easily share them with anybody.</h2>
    <a href="/register" class="ui huge primary button" style="margin-top: 1.5em;">Get Started <i class="right arrow icon"></i></a>
  </div>

</div>