<%= render "/layouts/login_navigation" %>
<div>
  <%= image_tag "https://i.imgur.com/xyPtn4m.jpg", style: "width: 30em; height: auto;" %>
  <h2>A better way to communicate your dog's needs</h2>
  <p>Dogumentation helps you keep track of your dog's care instructions, so you can easily show them to others.</p>
</div>